/* result placeholder/ Banner */

#result-placeholder {
    text-align: center;
    justify-content: center;
    margin-top: 18px;
}

#banner-container {
    width: 100%;
    padding: 15px;
    text-align: center;
    height: 70px;
    margin-top: 160px;
}

#banner-title {
    color: #6600cc;
    padding: 10px;
    font-size: 5em;
    font-weight: 900;
    text-decoration: none;
    text-shadow: -7px 0 black, 0 7px black, 7px 0 black, 0 -7px black, 12px 4px #333333;
}


/* search */

#search-container {
    text-align: center;
    justify-content: center;
}

#search-bar::-webkit-input-placeholder {
    font-family: 'Orbitron';
}

#search-bar:-ms-input-placeholder {
    font-family: 'Orbitron';
}

#search-bar:-moz-placeholder {
    font-family: 'Orbitron';
}

#search-bar::-moz-placeholder {
    font-family: 'Orbitron';
}

#search-bar {
    padding: 5px;
    height: 20px;
    width: 250px;
    border: 4px solid rgb(117, 114, 150);
    border-radius: 2px;
    outline: none;
    color: #9DBFAF;
    background: transparent;
}

#search-bar:focus {
    color: #6600cc;
}

#search-btn {
    margin-left: 10px;
    width: 40px;
    height: 36px;
    border: none;
    text-align: center;
    color: #6600cc;
    cursor: pointer;
    border-radius: 3px;
    font-size: 20px;
    border-bottom: 2px solid #cecece;
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
    background: rgb(236, 232, 232);
    background: -moz-linear-gradient(top, rgba(236, 232, 232, 1) 0%, rgb(204, 204, 204) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(236, 232, 232, 1)), color-stop(100%, rgba(204, 204, 204, 1)));
    background: -webkit-linear-gradient(top, rgba(236, 232, 232, 1) 0%, rgba(204, 204, 204, 1) 100%);
    background: -o-linear-gradient(top, rgba(236, 232, 232, 1) 0%, rgba(204, 204, 204, 1) 100%);
    background: -ms-linear-gradient(top, rgba(236, 232, 232, 1) 0%, rgba(204, 204, 204, 1) 100%);
    background: linear-gradient(to bottom, rgba(236, 232, 232, 1) 0%, rgba(204, 204, 204, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e3e3e3', GradientType=0);
    box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
}

#search-btn:active {
    color: #ac49ff;
    text-shadow: 0 0 22px #8b00ff;
    background: rgb(204, 204, 204);
    background: -moz-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(239, 239, 239, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(204, 204, 204, 1)), color-stop(100%, rgba(239, 239, 239, 1)));
    background: -webkit-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(239, 239, 239, 1) 100%);
    background: -o-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(239, 239, 239, 1) 100%);
    background: -ms-linear-gradient(top, rgba(204, 204, 204, 1) 0%, rgba(239, 239, 239, 1) 100%);
    background: linear-gradient(to bottom, rgba(204, 204, 204, 1) 0%, rgba(239, 239, 239, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#efefef', GradientType=0);
    border-bottom-color: #B1B1B1;
}

#search-btn:focus {
    outline: 0;
}


/* result */

#result-container {
    text-align: center;
    justify-content: center;
    margin-top: 18px;
}

#search-result {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 665px;
    width: 108%;
    border-bottom-left-radius: 5px;
}

#result-profile-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 159px;
    width: 100%;
    -webkit-box-shadow: 0px 8px 12px 0px #242424;
    -moz-box-shadow: 0px 8px 12px 0px #242424;
    box-shadow: 0px 8px 12px 0px #242424;
}

#result-profile-pic {
    width: 50%;
    margin-top: 50px;
    -webkit-box-shadow: 0 0 5px #0f0f0f, 0 0 10px #0f0f0f, 0 0 15px #0f0f0f, 0 0 20px #4c346b, 0px -11px 78px 8px #1c1b1d;
    -moz-box-shadow: 0 0 5px #0f0f0f, 0 0 10px #0f0f0f, 0 0 15px #0f0f0f, 0 0 20px #4c346b, 0px -11px 78px 8px #1c1b1d;
    box-shadow: 0 0 5px #0f0f0f, 0 0 10px #0f0f0f, 0 0 15px #0f0f0f, 0 0 20px #4c346b, 0px -11px 78px 8px #1c1b1d;
    border-radius: 5px;
}

#result-title {
    color: #6600cc;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: -3px 0 #fff, 0 3px #fff, 3px 0 #fff, 0 -3px #fff, 5px 4px #6e6e6e;
}

#result-url {
    text-decoration: none;
    border: none;
    text-align: center;
    color: #6600cc;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    font-size: 20px;
    padding: 5px;
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
    background: rgb(236, 232, 232);
    background: -moz-linear-gradient(top, rgba(236, 232, 232, 1) 0%, rgb(204, 204, 204) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(236, 232, 232, 1)), color-stop(100%, rgba(204, 204, 204, 1)));
    background: -webkit-linear-gradient(top, rgba(236, 232, 232, 1) 0%, rgba(204, 204, 204, 1) 100%);
    background: -o-linear-gradient(top, rgba(236, 232, 232, 1) 0%, rgba(204, 204, 204, 1) 100%);
    background: -ms-linear-gradient(top, rgba(236, 232, 232, 1) 0%, rgba(204, 204, 204, 1) 100%);
    background: linear-gradient(to bottom, rgba(236, 232, 232, 1) 0%, rgba(204, 204, 204, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e3e3e3', GradientType=0);
    box-shadow: 0 8px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(128, 128, 128, 0.6), inset 0 3px 4px -1px rgba(128, 128, 128, 0.2), inset 0 0 5px 1px rgba(128, 128, 128, 0.8), inset 0 20px 30px 0 rgba(128, 128, 128, 0.2);
}

#result-url:hover {
    color: #d753ff;
    text-shadow: 0 0 22px #8b00ff;
}