body {
    font-family: 'Orbitron';
    background-color: #b5a7c0;
}

#panel-container {
    background: #b3b4bf;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #b3b4bf);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #b3b4bf);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    -webkit-box-shadow: 5px 11px 25px 5px #3d3d3d;
    -moz-box-shadow: 5px 11px 25px 5px #3d3d3d;
    box-shadow: 5px 11px 25px 5px #3d3d3d;
    height: 720px;
    width: 800px;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

#left-section {
    height: 730px;
    width: 55%;
}

#right-section {
    height: 730px;
    width: 45%;
}